<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blacklisted</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css" />
 
   <%- include ("partials/header.ejs") %>
  
  <body>
   
    <main>
      <table id="bekijk">
        <thead>
          <tr>
            <th>Afbeelding</th>
            <th>Fig ID</th>
            <th>Reden</th>
            <th>Delete / Reden Aanpassen</th>
          </tr>
        </thead>
        <tbody>
          
            <% for (let i=0; i < user?.BlackListed?.length  ; i++){ %>
              <tr>
  
                <td>
                  <img height="250" alt="minifig" src=<%=user?.BlackListed?.[i].figUrl %>
                </td>
                <td>
                  <%= user?.BlackListed?.[i].figId %>
                </td>
                
                <td>
                  <%= user?.BlackListed?.[i].reden %>
                </td>
                
                <td>
                  <form method="post" action="/user/<%= id %>/blacklist">
                    <input name="minifigNum" value="<%= user?.BlackListed?.[i].figId %>" hidden>
                    <input id="submitVraag" name="delete" type="submit" value="Delete">
                  </form> 
                  <br>
                  <form method="post" action="/user/<%= id %>/redenAanpassen">
                    <input name="minifigNum" value="<%= user?.BlackListed?.[i].figId %>" hidden>
                    <input name="reden" value="<%= user?.BlackListed?.[i].reden %>" hidden>
                    
                    <input id="submitVraag"  name="redenAanpassen" type="submit" value="Reden Aanpassen">
                    <input id="vraagInput" name="nieuweReden" type="text" required >
                  </form>
                </td>

    
                <% }; %>
              </tr>
          
  
        </tbody>
      </table>

      
  <%- include ("partials/footer.ejs") %>