<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordenen</title>
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />

  <%- include ("partials/header.ejs") %>

<body>
  <main>
    <table id="bekijk">
      <thead>
        <tr>
          <th>Minifig</th>
          <th>set A</th>
          <th>Set B</th>
          <th>Set C</th>
          <th>Set D</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= minifigData.name %> <br>
              <img height="250" alt="minifig" src=<%=minifigData.set_img_url %>
          </td>
          <% for (let i=0; i < setData.length; i++){ %>

            <form method="post" action="/user/<%= id %>/ordenen/<%= orderAmount %>">
              <td>
                <%= setData[i].name %>
                  <br>
                  <img height="200" alt="minifig" src=<%=setData[i].set_img_url %> <br>
                  <input name="setImg" value="<%=setData[i].set_img_url %>" hidden>
                  <input name="setNum" value="<%=setData[i].set_num %>" hidden>
                  <input name="minifigNum" value="<%=minifigData.set_num %>" hidden>
                  <input name="minifigImg" value="<%=minifigData.set_img_url %>" hidden>
                  <input type="submit">
                  <%=setData[i].name %></button>
              </td>
            </form>


            <% }; %>
        </tr>

      </tbody>
    </table>
    <form method="post" action="/user/<%= id %>/ordenen/<%= orderAmount %>">
      <input name="setImg" value="<%=setData[i].set_img_url %>" hidden>
      <input name="setNum" value="<%=setData[i].set_num %>" hidden>
      <input name="minifigNum" value="<%=minifigData.set_num %>" hidden>
      <input name="minifigImg" value="<%=minifigData.set_img_url %>" hidden>
      <input name="skip" type="submit">
    </form>
    <%- include ("partials/footer.ejs") %>