<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordenen</title>
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />

  <%- include ("partials/header.ejs") %>

<body>
  <main>
    <form>

      <label for="sorteerAantal">Hoeveel minifigs wil je sorteren? </label>
      <input type="number" min="1" max="10">
      <button type="submit">OK</button>

    </form>
    <table id="bekijk">
      <thead>
        <tr>
          <th>Minifig</th>
          <th>set A</th>
          <th>Set B</th>
          <th>Set C</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= data2.name %> <br>
              <img height="250" alt="minifig" src=<%=data2.set_img_url %>
          </td>
          <% for (let i=0; i < data.length; i++){ %>
            <td>
              <%= data[i].name %>
                <br>
                <img height="250" alt="minifig" src=<%=data[i].set_img_url %>
            </td>

            <% }; %>
        </tr>




      </tbody>
    </table>
<%- include ("partials/footer.ejs") %>