<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />


<%- include ("partials/header.ejs") %>

<body>
  <main>
    <div id="overzicht-main">
      <% if( orderAmount === 0){ %>
          <p id="skipped-info">Je hebt <%= aantalSkips %> minifig(s) geskipt</p>
          <p id="orderd-info">Je hebt <%= geordendeFiguren %> minfig(s) geordend </p>
        <% }; %>
    <br>
    <h2> <a id="link" href="/user/<%= id %>/vraagOrdenen">Klik hier om terug minifigs te ordenen</a></h2>
  </div> 
   

    
 <%- include ("partials/footer.ejs") %>